<li lang="android" class="category">DEVELOPMENT</li>

<li lang="android" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="android" >
        <li lang="android" ><a href="{{ site.android }}user-guide/index.html" class="otherLinkColour">Build your first APP</a> </li>
        <li lang="android" ><a href="{{ site.android }}user-guide/configure-mrz-scanner.html" class="otherLinkColour">Configure MRZ Scanner</a></li>
    </ul>
</li>
<li lang="android"><a href="{{ site.android }}samples/index.html" class="otherLinkColour">Demo &amp; Samples</a></li>

<li lang="android"><a href="{{ site.android_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="android">
        <li lang="android"><a>Classes</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android_api }}mrz-scanner-activity.html" class="otherLinkColour">MRZScannerActivity</a></li>
                <li lang="android"><a href="{{ site.android_api }}mrz-scanner-config.html" class="otherLinkColour">MRZScannerConfig</a></li>
                <li lang="android"><a href="{{ site.android_api }}mrz-scan-result.html" class="otherLinkColour">MRZScanResult</a></li>
                <li lang="android"><a href="{{ site.android_api }}mrz-data.html" class="otherLinkColour">MRZData</a></li>
            </ul>
        </li>
        <li lang="android"><a class="otherLinkColour">Enumerations</a>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android_api }}document-type.html?lang=android"  class="otherLinkColour">EnumDocumentType</a></li>
            </ul>
            <ul lang="android">
                <li lang="android"><a href="{{ site.android_api }}result-status.html?lang=android"  class="otherLinkColour">EnumResultStatus</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="android" class="category">USEFUL RESOURCES</li>

<li lang="android" ><a href="{{ site.android_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="android" >
        <li lang="android" ><a href="{{ site.android_release_notes }}android-3.html" class="otherLinkColour">Version 3.x</a></li>
        <li lang="android" ><a href="{{ site.android_release_notes }}android-2.html" class="otherLinkColour">Version 2.x</a></li>
    </ul>
</li>

<li lang="android" ><a href="{{ site.android }}user-guide/license-activation.html" class="otherLinkColour">License Initialization</a></li>
<li lang="android" ><a href="{{ site.android }}user-guide/upgrade.html" class="otherLinkColour">Upgrade</a></li>

<li lang="android" class="category">OTHERS</li>
<li><a target="_blank" href="{{ site.ios }}" class="otherLinkColour refreshLink">Develop for iOS (Objective-C & Swift)</a></li>
<li><a target="_blank" href="{{ site.maui }}" class="otherLinkColour refreshLink">Develop for MAUI</a></li>
<li><a target="_blank" href="{{ site.flutter }}" class="otherLinkColour refreshLink">Develop for Flutter</a></li>
<li><a target="_blank" href="{{ site.react_native }}" class="otherLinkColour refreshLink">Develop for React Native</a></li>