<li lang="react-native" class="category">DEVELOPMENT</li>

<li lang="react-native" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="react-native" >
        <li lang="react-native" ><a href="{{ site.react_native }}user-guide/index.html" class="otherLinkColour">MRZ Scanner User Guide</a> </li>
        <li lang="react-native" ><a href="{{ site.react_native }}user-guide/customize-mrz-scanner.html" class="otherLinkColour">MRZ Scanner Customization</a></li>
    </ul>
</li>
<li lang="react-native"><a href="{{ site.react_native }}samples/index.html" class="otherLinkColour">Demo &amp; Samples</a></li>

<li lang="react-native"><a href="{{ site.react_native_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="react-native">
        <li lang="react-native"><a>Classes</a>
            <ul lang="react-native">
                <li lang="react-native"><a href="{{ site.react_native_api }}mrz-scanner.html" class="otherLinkColour">MRZScanner</a></li>
                <li lang="react-native"><a href="{{ site.react_native_api }}mrz-scanner-config.html" class="otherLinkColour">MRZScannerConfig</a></li>
                <li lang="react-native"><a href="{{ site.react_native_api }}mrz-scan-result.html" class="otherLinkColour">MRZScanResult</a></li>
                <li lang="react-native"><a href="{{ site.react_native_api }}mrz-data.html" class="otherLinkColour">MRZData</a></li>
            </ul>
        </li>
        <li lang="react-native"><a class="otherLinkColour">Enumerations</a>
            <ul lang="react-native">
                <li lang="react-native"><a href="{{ site.react_native_api }}document-type.html?lang=react_native"  class="otherLinkColour">EnumDocumentType</a></li>
            </ul>
            <ul lang="react-native">
                <li lang="react-native"><a href="{{ site.react_native_api }}result-status.html?lang=react_native"  class="otherLinkColour">EnumResultStatus</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="react-native" class="category">USEFUL RESOURCES</li>

<li lang="react-native" ><a href="{{ site.react_native_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="react-native" >
        <li lang="react-native" ><a href="{{ site.react_native_release_notes }}index.html" class="otherLinkColour">Version 3.x</a></li>
    </ul>
</li>

<li lang="react-native" ><a href="{{ site.react_native }}user-guide/license-activation.html" class="otherLinkColour">License Initialization</a></li>

<li lang="react-native" class="category">OTHERS</li>
<li lang="react-native" ><a target="_blank" href="{{ site.ios }}" class="otherLinkColour refreshLink">Develop for iOS (Objective-C & Swift)</a></li>
<li lang="react-native" ><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android (Java & Kotlin)</a></li>
<li lang="react-native" ><a target="_blank" href="{{ site.maui }}" class="otherLinkColour refreshLink">Develop for MAUI</a></li>
<li lang="react-native" ><a target="_blank" href="{{ site.flutter }}" class="otherLinkColour refreshLink">Develop for Flutter</a></li>

