<li lang="maui" class="category">DEVELOPMENT</li>

<li lang="maui" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="maui" >
        <li lang="maui" ><a href="{{ site.maui }}user-guide/index.html" class="otherLinkColour">Build your first APP</a> </li>
        <li lang="maui" ><a href="{{ site.maui }}user-guide/configure-mrz-scanner.html" class="otherLinkColour">Configure MRZ Scanner</a></li>
    </ul>
</li>
<li lang="maui"><a href="{{ site.maui }}samples/index.html" class="otherLinkColour">Demo &amp; Samples</a></li>

<li lang="maui"><a href="{{ site.maui_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="maui">
        <li lang="maui"><a>Classes</a>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.maui_api }}mrz-scanner.html" class="otherLinkColour">MRZScanner</a></li>
                <li lang="maui"><a href="{{ site.maui_api }}mrz-scanner-config.html" class="otherLinkColour">MRZScannerConfig</a></li>
                <li lang="maui"><a href="{{ site.maui_api }}mrz-scan-result.html" class="otherLinkColour">MRZScanResult</a></li>
                <li lang="maui"><a href="{{ site.maui_api }}mrz-data.html" class="otherLinkColour">MRZData</a></li>
            </ul>
        </li>
        <li lang="maui"><a class="otherLinkColour">Enumerations</a>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.maui_api }}document-type.html?lang=maui"  class="otherLinkColour">EnumDocumentType</a></li>
            </ul>
            <ul lang="maui">
                <li lang="maui"><a href="{{ site.maui_api }}result-status.html?lang=maui"  class="otherLinkColour">EnumResultStatus</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="maui" class="category">USEFUL RESOURCES</li>

<li lang="maui" ><a href="{{ site.maui_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="maui" >
        <li lang="maui" ><a href="{{ site.maui_release_notes }}maui-3.html" class="otherLinkColour">Version 3.x</a></li>
    </ul>
</li>

<li lang="maui" ><a href="{{ site.maui }}user-guide/license-activation.html" class="otherLinkColour">License Initialization</a></li>

<li lang="maui" class="category">OTHERS</li>
<li lang="maui" ><a target="_blank" href="{{ site.ios }}" class="otherLinkColour refreshLink">Develop for iOS (Objective-C & Swift)</a></li>
<li lang="maui" ><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android (Java & Kotlin)</a></li>
