<li lang="objectivec-swift" class="category">DEVELOPMENT</li>


<li lang="objectivec-swift" ><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul lang="objectivec-swift" >
        <li lang="objectivec-swift" ><a href="{{ site.ios }}user-guide/index.html" class="otherLinkColour">Build your first APP</a> </li>
        <li lang="objectivec-swift" ><a href="{{ site.ios }}user-guide/configure-mrz-scanner.html?lang=objc,swift" class="otherLinkColour">Configure MRZ Scanner</a></li>
    </ul>
</li>


<li lang="objectivec-swift"><a href="{{ site.ios }}samples/index.html" class="otherLinkColour">Demo &amp; Samples</a></li>


<li lang="objectivec-swift"><a href="{{ site.ios_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a>Classes</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}mrz-scanner-view-controller.html" class="otherLinkColour">MRZScannerViewController</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}mrz-scanner-config.html" class="otherLinkColour">MRZScannerConfig</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}mrz-scan-result.html" class="otherLinkColour">MRZScanResult</a></li>
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}mrz-data.html" class="otherLinkColour">MRZData</a></li>
            </ul>
        </li>
        <li lang="objectivec-swift"><a class="otherLinkColour">Enumerations</a>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}document-type.html?lang=objc,swift"  class="otherLinkColour">DocumentType</a></li>
            </ul>
            <ul lang="objectivec-swift">
                <li lang="objectivec-swift"><a href="{{ site.ios_api }}result-status.html?lang=objc,swift"  class="otherLinkColour">ResultStatus</a></li>
            </ul>
        </li>
    </ul>
</li>

<li lang="objectivec-swift" class="category">USEFUL RESOURCES</li>
<li lang="objectivec-swift"><a href="{{ site.ios_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="objectivec-swift">
        <li lang="objectivec-swift"><a href="{{ site.ios_release_notes }}ios-2.html" class="otherLinkColour">Version 2.x</a></li>
    </ul>
</li>
<li lang="objectivec-swift" ><a href="{{ site.ios }}user-guide/license-activation.html" class="otherLinkColour">License Initialization</a></li>


<li lang="objectivec-swift" class="category">OTHERS</li>
<li lang="objectivec-swift"><a target="_blank" href="{{ site.android }}" class="otherLinkColour refreshLink">Develop for Android (Java & Kotlin)</a></li>
